@{
    ViewData["Title"] = "Despre noi";
}
<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/css/despre_noi.css">


<p>
    Bine ați venit la Ornamente florale! Suntem specializați în aranjamente florale unice și deosebite pentru evenimente și momente speciale. Cu pasiune și atenție la detalii, transformăm viziunile clienților noștri în realitate. Avem experiență în design floral, lucrăm cu diverse stiluri și suntem la curent cu tendințele actuale. Calitatea și serviciile excelente sunt prioritățile noastre. Colaborăm cu furnizori de încredere și creăm buchete și aranjamente impecabile. Oferim servicii personalizate pentru nunți, petreceri și evenimente corporate. Echipa noastră talentată și pasionată vă oferă creativitate și o experiență memorabilă.
</p>
