@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="title display-4">Bine ati venit pe pagina noastra!</h1>
    <br />
    <br />
</div>

<link rel="stylesheet" href="~/css/home.css">

<div class="text-center">
    <h2 class="display-4">Oferiți cele mai frumoase cadouri persoanelor dragi!</h2>
    <p>Puteți comanda ornamente florale dând click <a asp-area="" asp-controller="Produse" asp-action="">aici</a></p>
</div>
