@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Accesul interzis!!!";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nu aveti rolul necesar pentru a accesa aceasta pagina. Contactati administratorul paginii pentru mai multe detalii.</p>
</header>
